.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.logo{
  width: 20%;
  position: relative;
  top: 20%;
}
.titulo{
  text-align: center;
  font-size: 40px;
  color:#BC0653;
  padding: 30px, 0;
}
.Miembros .contenedor .Personas{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: auto;
}
.imagen{
  width: 45%;
  background: #011d49 ;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  flex-direction: row;


}
.imagen img{
  width: 40%;
  border-radius: 100%;
  border-color: #FACB84 ;
}
.nombre{
 position: relative;
 left: 5%;
}
.propio{
  font-size: 25px;
  color: #fff;
}
a{
  color: #fff;
  text-align: center;
  display: block;
  font-size: 30px;
}
.facebook{
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.linkedin{
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.github{
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.redes-sociales{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
}
.facebook:hover{
  background: #3b5998;
}
.linkedin:hover{
  background:#0e76a8;
}
.github:hover{
  background:#171515;
}
.trabajo{
  position:relative;
  bottom: 15px;
  padding: 0px;
  margin: 0px;
  color: #fff;

}
.seccion{
  position: relative;
  bottom: 20px;
  right: 1px;
  color: #fff;
}
@media screen and (max-width: 1100px){
  .imagen{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .imagen img{
    width: 30%;
    position: relative;
    left: 35%;
  }
  .propio{
    position: relative;
    left: 20%;
  }
  .redes-sociales{
    position: relative;
    right: 18px;
  }
  .facebook{
    margin-left: 40px;
    margin-right: 40px;
  }
  .linkedin{
    margin-left: 40px;
    margin-right: 40px;
  }
  .github{
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 850px) {
  .Miembros .contenedor .Personas{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 28%;
  }
  .facebook{
    margin-left: 0px;
    margin-right: 0px;
  }
  .linkedin{
    margin-left: 0px;
    margin-right: 0px;
  }
  .github{
    margin-left: 0px;
    margin-right: 0px;
  }
  .propio{
    position: relative;
    left: 15%;
  }
  .redes-sociales{
    position: relative;
    right: 14px;

}
@media screen and (max-width: 700px){
  .propio{
    position: relative;
    left: 10%;
  }

}
@media screen and (max-width: 650px){
  .propio{
    position: relative;
    left: 5%;
  }

}