@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

@import url(navbar.css);
@import url(footer.css);


:root{
    --color-rose-red: #BC0653;
    --color-blue-dark: #002969;
    --color-blue-dark-osc: #011d49;
    --color-tumbleweed: #E3B5A4;
    --color-blanco: #ffff;


    --fuente-1: 'Signika Negative', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
