/* Global */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
:root{
  --bk-blanco: rgb(255, 255, 255);
  --fuente-Open-Sans: 'Open Sans', sans-serif;
  --fuente-weig-grand: 300;
  --color:  rgb( 221, 113, 113);
  --color2: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente-Open-Sans);
  color: rgb(0, 0, 0);
  font-size: 16px;
  
  }

  /* Quienes somos*/

  .somosp{
     text-align: center;
     color: var(--color);
     justify-content: center;
     font-size: 50px;
     font-family: var(--fuente-Open-Sans);
     
  }

  .somosd{
    text-align: center;
    font-family: var(--fuente-Open-Sans);
    font-size: 25px;
    color: var(--bk-blanco);
    max-width: 80%;
    margin: 0 auto;

  }

  .principal{
    display: grid;
    background: transparent url(img/Fondo.jpg) 100%;
    margin: auto;
  }

  /* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background:  transparent url(img/Fondo.jpg) 100%;

  
}
.titulo{
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  
  
}
.news-cards img {
  width: 40px;
  height: 40px;
  }

.news-cards h1 {
  font-size: 30px;
  display: flex;
  font-family: var(--fuente-Open-Sans);
  color: var(--color);
}

.news-cards .descripcion {
max-width: 80%;
margin: 0 auto;
text-align: center;
font-family: var(--fuente-Open-Sans);
font-size: 25px;
color: var(--bk-blanco);
}
